<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Safe Water API</title>
</head>
<h1>Safe Water API</h1>
<body>
  <%= link_to "EnforcementActions", enforcement_actions_path %> |
  <%= link_to "GeographicAreas", geographic_areas_path %> |

</body>

</html>
